.wrapper * {
  text-decoration: none;
  font-family: 'Gill Sans';
  /* font-weight: bold; */
  font-size: 13pt;
  z-index: 10
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 300px;
  height: 100%;
  background: rgb(97, 22, 101, 0.6);
  padding: 50px 0px;
  position: fixed;
  transition: all 0.3s;
  overflow: hidden;
}

.sidebar ul {
  padding-left: 0 !important;
}
.sidebar ul li {
  position: relative;
}
.navIcon {
  position: absolute;
  width: 2rem;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.navIcon > img {
  width: 100%;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  width: 300px;
  box-sizing: border-box;
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #fbfcff;
  padding-right: 4rem;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #e2c882;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}

.menu {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
}

.menu > img {
  width: 100%;
}
