.welcome-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome-sentence {
  /* background-color: black; */
  letter-spacing: 0.1em;
  font-size: 3rem;
  padding-bottom: 30px;
  font-weight: 600;
  text-shadow: 0 0 10px #00b3ff, 0 0 10px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
  text-shadow: 0.05 0 0 #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff,
    0 1 120px #00b3ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  animation: animate 5s linear infinite;
}

.spotifyButton {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(14, 122, 44) 0%, rgb(73, 182, 82) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.spotifyButton:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.spotifyButton:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
