.inner-welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 15em;
}

.mic-image {
  height: 45em;
}

.spotifyButton {
  display: flex;
  align-items: center;
  margin-left: 20em;
  margin-bottom: 10em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: black;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(14, 122, 44) 0%, rgb(73, 182, 82) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.spotifyButton:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.spotifyButton:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
