
.welcome-box {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
 
}
.mic-image {
width: 5em;
  height: 41em;

}
/* .welcome-sentence-box {
  display: flex;

  justify-content: center;
 
} */
.welcome-sentence {
    margin-top: 1.5em;
    letter-spacing: 0.1em;
    font-size: 4.2rem;
    padding-bottom: 0.5em;
    font-weight: 650;
    text-shadow: 0 0 20px #CE378D,
    0 0 10px #CE378D,
    0 0 40px #e979fc,
    0 0 80px #00b3ff,
    0 0 100px black;
    text-shadow: 0 0 0 #520991,
        0 0 40px #520991,
        0 0 80px #520991,
        0 0 100px black,
        20 0 100px black;
    color: white;
    
    font-weight: bold;
    cursor: pointer;
    animation: animate 5s linear infinite
} 





