.webcamRTC body {
  background: #ffffff;

}

.webcamRTC #join-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font-size: 18px;
  padding: 20px 40px;
}

.webcamRTC #video-streams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  height: 90vh;
  width: 1400px;
  margin: 0 auto;
}


.webcamRTC #stream-controls {
  display: none;
  justify-content: center;
  margin-top: 0.5em;
}
.webcamRTC .home {
  height: 100vh;
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  /*gap: 10vw;*/
  padding: 30vh 20vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.webcamRTC .home > div {
  width: 500px;
  height: 380px;
  /*background: url("../../images/background.jpg") no-repeat;*/
  /*background-size: cover;*/
  /*background-color: rgba(85,50,109,0.8);*/
  /*border: 1px solid white;*/
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.webcamRTC .home > div > button {
  border: 1px solid #6938eb;
  border-radius: 50px;
  margin-top: 20px;
  width: 90%;
  transition: all 0.6s;
  background-color: #6938eb;
}
.webcamRTC .home > div > button:hover {
  border: 1px solid #6938eb;
  background-color: white;
  color: #6938eb;
}
.webcamRTC .home > div > input {
  width: 90%;
  text-indent: 10px;
  border: 1px solid white;
  border-radius: 50px;
  outline: none;
  height: 45px;
}
.webcamRTC .home > div > img {
  margin-bottom: 20px;
}
.webcamRTC .userPwd {
  width: 20%;
  margin: auto;
  padding: 5px 0;
  border: 1px solid rgb(160, 0, 192);
  color: rgb(72, 0, 87);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 50px;
}
@media screen and (max-width: 1400px) {
  #video-streams {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 95%;
  }
}

.VideoTest{
  width: 100%;
  min-height: 100vh;
}
.videoBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bigVideo{
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px 0;
}
.bigVideo>video{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
}
.sm_video{
  width: 800px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,33%);
  justify-content: space-between;
}
.sm_video>div{
  width: 100%;
  margin-bottom: 5px;
}
.sm_video>div>video{
  width: 100%;
}
.answer{
  width: 450px;
  margin: auto;
}
.answer>input{
  width: 100%;
  text-indent: 10px;
  border: 1px solid white;
  border-radius: 50px;
  outline: none;
  height: 45px;
}
.answer>div{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.answer>div>button{
  width: 48%;
  border-radius: 50px;
  transition: all 0.6s;
  background-color: #651a88;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid white;
  margin: 0 5px;
}
.answer>div>button:hover{
  border: 1px solid #6938eb;
  background-color: white;
  color: #6938eb;
}
.idTitle{
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.buttomBtn{
  width: 450px;
  margin: auto;
}
.buttomBtn>button{
  width: 48%;
  border-radius: 50px;
  transition: all 0.6s;
  background-color: #651a88;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid white;
}
.buttomBtn>button:hover{
  border: 1px solid #6938eb;
  background-color: white;
  color: #6938eb;
}
.room_id{
  color: white;
  text-align: left;
}